<!--about section starts here-->
<section id="about">
<div class="container">
<div class="row">
<div class="col-md-6">
	<img src="{{ site.url }}/img/welcome_img.jpg" alt="welcome image" class="img-fluid">
</div>
<div class="col-md-6">
	<div class="welcome-head">
	<h2><span class="black">ENT Care</span> <span class="blue">Made Easy</span></h2>
</div>
<div class="title-border"></div>

<div class="welcome-text">
<p><span class="text-title">ALLERGY :</span> Allergies can be treated with avoidance, medications, immunotherapy, or a combination of these treatments…</p>

<p><span class="text-title">AUDIOLOGY :</span> Dr. Stout can assist in diagnosing hearing loss and can provide multiple treatment options such as cochlear implants…</p>

<p><span class="text-title">ENT SERVICES :</span> West River ENT provides a full range of ENT services for both children and adults in Rapid City and the surrounding Black Hills…</p>

<p><span class="text-title">PEDIATRIC CARE :</span> West River Ear, Nose, and Throat offers a range of services and treatments specifically centered around children…</p>
</div>

</div>
</div>
</div>
</section>
<!--about ssection ends here-->