<!--action area starts here-->
<div class="action">
<div class="container">
<div class="row">
<div class="col-md-6 logo">
	<img src="{{ site.url }}/img/logo.png" alt="logo" class="img-fluid">
</div>
<div class="col-md-6">
	<ul class="call text-center">
		<li><img src="{{site.url}}/img/call-img.png"></li>
		<li class="no">Call <a href="tel:(605)939-7863">(605) 939-7863</a> today!</li>
	</ul>
</div>
</div>
</div>
</div>
<!--action area ends here-->
<!--hero section starts here-->
<section id="hero">
<div class="container">
<div class="row">
<div class="col-md-7 hero-head">
  <h1 class="main-header">ENT Fixing</h1>
<h2>We have been helping <span class="mid">Rapid City</span> Community live better for the last 5 years!</h2>	

<p class="hero-text">Get the highest quality Ear, Nose, Throat, and Allergy Care with an approach designed specifically for you.</p>

<h4>Solutions offered:</h4>
<ul class="hero-list">
<li><span class="hero-lis-col">Cancer Care:</span>Each year, more than 55,000 Americans will develop cancer of the head and neck.</li>
<li><span class="hero-lis-col">Salivary Gland:</span> There are three pairs of major salivary glands in the mouth and throat: submandibular, sublingual, and parotid, along with several hundred smaller minor salivary glands.</li>
<li><span class="hero-lis-col">Sinus:</span> If you suffer from sinus headaches, nasal obstruction, nasal drainage, or loss of smell you may have a sinus issue.</li>
<li><span class="hero-lis-col">Speech And Swallowing:</span> Speech delay is the most common developmental disorder among preschool age children and is different than language delays.</li>
<li><span class="hero-lis-col">Thyroid Issues:</span> Thyroid problems include overactive (hyperthyroidism) or underactive (hypothyroidism) thyroid function, autoimmune conditions (Graves’ disease and Hashimoto’s thyroiditis), and growths or nodules of the thyroid.</li>
</ul>
</div>
<div class="col-md-5 formz" id="appointment">
	<div class="form-cus">
<h3>Schedule your consultation today</h3>

 <form action="https://formspree.io/m.iverson@westriverent.com" method="POST">
    <div class="form-group">
      <label for="email">Name*</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
    </div>
    <div class="form-group">
      <label for="pwd">Email*</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
    </div>
  
    <div class="form-group">
      <label for="pwd">Phone Number*</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
    </div>

    <div class="form-group">
  <label for="comment">Comments**</label>
  <textarea class="form-control" rows="4" id="comment" required></textarea>
</div>
    <button type="submit" class="btn btn-primary btn-block btn-cus">Book An Appointment Today!</button>
  </form>
	</div>
</div>
</div>
</div>
</section>
<!--hero sectoin ends here--