<!--location area starts here-->
<section id ="location">

<div class="container loc-head">
<h2>Our Location</h2>
</div>

<div class="container">
<div class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d717.0801666279432!2d-103.21373!3d44.035431!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1636b164e5aed726!2sWest%20River%20Ear%2C%20Nose%20%26%20Throat!5e0!3m2!1sen!2sin!4v1571892209036!5m2!1sen!2sin" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
</div>

</section>
<!--location area ends here-->