<!--service section starts here-->
<section id="service">
<div class="container">
<div class="row">
<div class="col-md-5 ser1">
<h3>West River ear, nose & Throat</b></h3>	
<h2>We offer all aspects of ENT care with service you can trust</h2>
<h5>We can help you feel better today!</h5>
<p>We will keep you up-to-date with the events happening at our clinic and the most recent health news that effects you, and your loved ones</p>
</div>
<div class="col-md-7 box">
	<div class="row">
    <div class="col-md-6">
    	<div class="box1 box-col1">
    		<img src="{{site.url}}/img/reliable.png" alt="reliable" class="mx-auto d-block">
    		<h3>Reliable</h3>
    		<p>At West River ENT we make it priority to provide honest recommendations for every patient.</p>
    	</div>
    	<div class="box1 box-col2">
    		<img src="{{site.url}}/img/trust.png" alt="reliable" class="mx-auto d-block">
    		<h3>Trust worthy</h3>
    		<p>We are only as successful as our patients, so our staff makes it a point to cultivate relationships with each patient.</p>
    	</div>
    </div>
    <div class="col-md-6">
    	<div class="box3">
    		<h3>Experience</h3>
    		<p>With 15 years of experience, our staff is dedicated to providing the best care possible. We are focused on your individual needs.
</p>
    	</div>
    </div>
	</div>
</div>
</div>
</section>
<!--service section ends here-->