<!--speak to expert area starts here-->
<section id="expert">
<div class="container">
<div class="row">
<div class="col-md-6 no-sec">
	<h2>Speak to an	expert now</h2>
	<img src="{{site.url}}/img/phone_icon.png" alt="phone icon">
	<h3><a href="tel:(605)939-7863">(605) 939-7863</a></h3>

	<div class="ent">
		<strong>ENT &amp; Audiology Hours</strong><br>
Monday – Thursday : 8:00am – 5:00pm | Friday : 8:00am – 4:00pm
</div>

<div class="allergy"><strong>Allergy Clinic Walk-in Shots</strong><br>
Monday – Thursday : 8:00am – 4:00pm | Friday : Closed</div>

</div>
<div class="col-md-6 call-sec">
<h2>We take care of your </h2>	
<h3>Ear Nose, Throat, and Allergy needs</h3>

<a href="tel:(605)939-7863"><button type="button" class="btn1">Contact us today</button></a>
<a href="#appointment"><button type="button" class="btn2">Schedule an Appointment Now</button></a>
</div>
</div>
</div>
</section>
<!--speak to expert area ends here-->